{\rtf1\ansi\ansicpg1251\cocoartf1671\cocoasubrtf600
{\fonttbl\f0\froman\fcharset0 Times-Roman;\f1\fswiss\fcharset0 ArialMT;}
{\colortbl;\red255\green255\blue255;\red0\green0\blue0;\red255\green255\blue255;\red11\green76\blue180;
}
{\*\expandedcolortbl;;\cssrgb\c0\c0\c0;\cssrgb\c100000\c100000\c100000;\cssrgb\c1961\c38824\c75686;
}
\paperw11900\paperh16840\margl1440\margr1440\vieww10800\viewh8400\viewkind0
\deftab720
\pard\pardeftab720\sl1360\sa240\partightenfactor0

\f0\fs117\fsmilli58667 \cf2 \cb3 \expnd0\expndtw0\kerning0
Requirements 
\fs24 \cb1 \
\pard\pardeftab720\sl840\sa240\partightenfactor0

\f1\fs74\fsmilli37333 \cf2 \cb3 \'95 
\f0 As a web framework use Flask 
\fs24 \cb1 \

\f1\fs74\fsmilli37333 \cb3 \'95 
\f0 As a database use Postgresql 
\fs24 \cb1 \

\f1\fs74\fsmilli37333 \cb3 \'95 
\f0 Use Moralis -> \cf4 https://moralis.io/ \cf2 in order to get an information about NFT 
\fs24 \cb1 \
}